<!doctype html>
<html lang="en" ng-app="companiesJS">
<head>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS client for Iaeste-Lc-Intraweb-Master">
    <meta name="author" content="Eduard, Alberto i Quan">
    <title>IAESTE LC Intraweb</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="company-tab/company-tab.js"></script>
    <script src="company-form/company-form.js"></script>
    <script src="login-form/login-form.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IntrawebAppJs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/app/index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" ng-controller="CompaniesController as controller">
    <header>
        <h1 class="text-center">IntrawebApp</h1>
        <h3 class="text-center">The AngularJS client for Iaeste-Lc-Intraweb-Master</h3>
        <h3>&nbsp;</h3>
    </header>

    <div class="text-left">
        <form class="well form-search">
            <input type="text" ng-model="controller.searchText" class="input-medium search-query" placeholder="Keywords...">
            <button type="submit" class="btn" ng-click="controller.searchCompany()">Search</button>

            <button class="btn" ng-click="controller.listCompanies()">Get Companies List</button>
        </form>
    </div>
    <div ng-repeat="company in controller.result">
        <company-tab></company-tab>
    </div>

    <div class="text-right" ng-show="controller.noCompany()">
        <button class="btn btn-lg btn-primary" ng-click="controller.listCompanies()">
            <span ng-show="!controller.isLoading()">Get Companies List</span>
            <span ng-show="controller.isLoading()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
            
        </button>
    </div>

    <div ng-repeat="company in controller.companies">
        <company-tab></company-tab>
    </div>
    <div>
        <h3>Add new Company</h3>
        <company-form></company-form>
    </div>
</div><!-- /.container -->

</body>
</html>